bearcar/models/blender/* filter=lfs diff=lfs merge=lfs -text
bearcar/models/nvidia_jetson_agx_xavier/grabcad_yes/* filter=lfs diff=lfs merge=lfs -text
bearcar/models/nvidia_jetson_agx_xavier/grabcad_yes/stl/* filter=lfs diff=lfs merge=lfs -text
